/* CONFIGURAÇÕES GERAIS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #9fdcff;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2% 0;
}

p{
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

.bold{
    font-weight: bold;
}

/* CONVERSOR 1 */
.container1{
    background-color: rgb(248, 176, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.703);

    padding: 2%;
    width: 450px;
}

h1{
   font-size: 2.2em;
   margin-bottom: 2%;
   text-align: center;
}

.input-group,
.output-group{
    display: flex;
    flex-direction: column; /* deixar o label e o input um embaixo do outro*/

    margin: 3% 0;
}

.input-group label,
.output-group label{
    margin-bottom: 1.5%;
    font-weight: bold;
}

select,
input{
    padding: 2% 1%;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    background-color: #f5f5f5;
}

button{
    background-color: rgb(110, 211, 110);
    color: #fff;
    transition: .4s;
    scale: 0.9;
    font-size: 1em;
    font-weight: 600;

    padding: 10px 12px;

    border-radius: 5px;
    border: none;

    cursor: pointer;
}

button:hover{
    background-color: rgb(128, 248, 128);
    scale: 1;
}

#message{
    font-size: .8em;
    color: rgb(21, 21, 21);
    margin: 1% 0;
    text-align: center;
}

/* CONVERSOR 2 - VOLUME */
.container2{
    background-color: rgb(205, 168, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.703);

    padding: 2%;
    width: 450px;
}

h1{
   font-size: 2.2em;
   margin-bottom: 2%;
   text-align: center;
}

.input-group2,
.output-group2{
    display: flex;
    flex-direction: column; /* deixar o label e o input um embaixo do outro*/

    margin: 3% 0;
}

.input-group2 label,
.output-group2 label{
    margin-bottom: 1.5%;
    font-weight: bold;
}

select,
input{
    padding: 2% 1%;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    background-color: #f5f5f5;
}

.button2{
    background-color: rgb(110, 211, 110);
    color: #fff;
    transition: .4s;
    scale: 0.9;
    font-size: 1em;
    font-weight: 600;

    padding: 10px 12px;

    border-radius: 5px;
    border: none;

    cursor: pointer;
}

.button2:hover{
    background-color: rgb(128, 248, 128);
    scale: 1;
}

#message2{
    font-size: .8em;
    color: rgb(21, 21, 21);
    margin: 1% 0;
    text-align: center;
}

footer p{
    text-align: center;
    font-size: 1.1em;
}

/* RESPONSIVIDADE */
@media (min-width: 767px) and (max-width: 900px) {
    .container1{
        margin: 2% 2% 3% 2%;
    }
    .container2{
        margin: 0 2% 1% 2%;
    }
}

@media (max-width: 576px) {
    .container1{
        margin: 2% 2% 3% 2%;
    }
    .container2{
        margin: 0 2% 1% 2%; 
    }
}